<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Add Book</title>

    <link rel="stylesheet"
          th:href="@{/style.css}">

</head>

<body>

<div class="form-page">

    <div class="form-card">


        <div class="form-header">

            <div class="form-icon">
                📚
            </div>

            <h1>
                Add New Book
            </h1>

            <p>
                Add a new book to the library
            </p>

        </div>


        <form
                th:action="@{/library/save}"
                th:object="${book}"
                method="post">


            <!-- BOOK TITLE -->

            <div class="form-group">

                <label>
                    Book Title
                </label>

                <input
                        type="text"
                        th:field="*{title}"
                        placeholder="Enter book title">

                <p
                        class="error"
                        th:if="${#fields.hasErrors('title')}"
                        th:errors="*{title}">
                </p>

            </div>


            <!-- PRICE -->

            <div class="form-group">

                <label>
                    Price
                </label>

                <input
                        type="number"
                        step="0.01"
                        th:field="*{price}"
                        placeholder="Enter book price">

                <p
                        class="error"
                        th:if="${#fields.hasErrors('price')}"
                        th:errors="*{price}">
                </p>

            </div>


            <!-- AUTHOR -->

            <div class="form-group">

                <label>
                    Author
                </label>

                <select
                        name="authorId"
                        required>

                    <option
                            value=""
                            disabled
                            selected>

                        Select an Author

                    </option>


                    <option
                            th:each="author : ${authors}"
                            th:value="${author.id}"
                            th:text="${author.name}">

                    </option>

                </select>

            </div>


            <!-- BUTTONS -->

            <div class="form-buttons">

                <button
                        type="submit"
                        class="btn">

                    Save Book

                </button>


                <a
                        href="/library"
                        class="cancel">

                    Cancel

                </a>

            </div>

        </form>

    </div>

</div>

</body>

</html>